:root {
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --Dark_Gray: hsl(0, 0%, 55%);
    --Very_Dark_Gray: hsl(0, 0%, 41%);
}

* {
    margin: 0;
    padding: 0;
}

/* Box  */

.box {
    height: 176px;
    width: 150px;
    background: #ae297a80;
    position: absolute;
    right: 0;
    top: 28px;
    transform: translateX(178%);
    transition: all .7s ease;
}

.box .close {
    float: right;
    padding: 8px 8px 0 0;
}

.box ul {
    text-align: center;
    padding-top: 28px;
}

.open {
    transform: translateX(0%);
}

.display {
    display: none;
}

.box ul li {
    list-style: none;
    padding-top: 6px;
}

.box ul li a {
    text-decoration: none;
    color: var(--Dark_Gray);
    font-family: 'Alata', sans-serif;
}

.header {
    background: url(./images/desktop/image-hero.jpg)no-repeat;
    height: 650px;
}

.header .container {
    position: relative;
    overflow: hidden;
}

.container {
    max-width: 1140px;
    margin: auto;
}

.header .container .navigation {
    padding-top: 30px;
    justify-content: space-between;
}

.header .container .navigation .navbar ul li {
    list-style: none;
    margin-left: 40px;
}

.header .container .navigation .navbar ul li a {
    text-decoration: none;
    color: var(--White);
    font-family: 'Alata', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.header .container .main {
    height: 300px;
    width: 700px;
    margin-top: 150px;
    border: 2px solid white;
    font-family: 'Josefin Sans', sans-serif;
}

.header .container .main h1 {
    color: var(--White);
    text-transform: uppercase;
    font-size: 5.2rem;
    font-weight: 300;
    padding: 35px;
    line-height: 1;
}

.main .container .right {
    margin-top: 160px;
}

.main .container .left {
    height: 320px;
    width: 560px;
    background: var(--White);
    position: absolute;
    bottom: 0;
    right: 0;
}

.main .container .left .text {
    margin: 88px 0 0 116px;
}

.main .container .left .text h2 {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-size: 3.2rem;
    font-weight: 300;
    margin-bottom: 24px;
}

.main .container .left .text p {
    font-family: 'Alata', sans-serif;
    font-size: 15px;
    color: var(--Dark_Gray);
}

.main .container .content {
    height: 500px;
    width: auto;
    position: relative;
    margin-bottom: 60px;
}

.creation .container .creation_header {
    justify-content: space-between;
    margin-bottom: 30px;
}

.creation .container .creation_header .right h2 {
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    font-weight: 300;
}

.creation .container .creation_header .left button {
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    border: 1px solid black;
    background: white;
    padding: 8px 40px;
    font-weight: 600;
}

.creation .container .creation_card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
}

.creation .container .desktop .card {
    transition: all 0.3s ease;
}

.creation .container .desktop .card:hover {
    opacity: 0.7;
}

.creation .container .creation_card .card {
    text-align: center;
    position: relative;
}

.creation .container .creation_card .card h3 {
    position: absolute;
    bottom: 5px;
    color: var(--White);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 1.8rem;
    padding: 42px 106px 42px 20px;
}

.creation .container .creation_card .card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.creation .container .mobile {
    display: grid;
    grid-template-columns: 1fr;
}

.creation .container .left_mobile button {
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    border: 1px solid black;
    background: white;
    padding: 8px 40px;
    font-weight: 600;
    margin-top: 20px;
}

footer {
    background: var(--Black);
    margin-top: 60px;
}

footer .container {
    justify-content: space-between;
}

footer .container .last .logo {
    padding: 30px 0;
}

footer .container .last .navbar ul {
    margin-bottom: 40px;
}

footer .container .last .navbar ul li {
    list-style: none;
    margin-right: 40px;
}

footer .container .last .navbar ul li a {
    text-decoration: none;
    color: var(--White);
    font-family: 'Alata', sans-serif;
    font-size: 15px;
}

footer .container .copyright {
    margin-top: 40px;
}

footer .container .copyright .copy {
    color: var(--Dark_Gray);
    font-family: 'Alata', sans-serif;
    font-size: 15px;
    margin-top: 20px;
}

footer .container .copyright .icon ul {
    margin-left: 112px;
}

footer .container .copyright .icon ul li {
    margin-left: 15px;
    list-style: none;
}

/* Media Queries */

@media screen and (max-width: 1190px) {
    .header .container {
        max-width: 1040px;
    }
    .creation .container .desktop {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1060px) {
    .header .container {
        max-width: 950px;
    }
    .main .container .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main .container .left {
        position: inherit;
    }
    .main .container .right {
        margin-top: 60px;
    }
    .main .container .left .text {
        margin: 88px 0 0 0px;
    }
    .main .container .content {
        height: 900px;
    }
    .creation .container {
        max-width: 980px;
    }
    footer .container {
        max-width: 950px;
    }
}

@media screen and (max-width: 950px) {
    .header .container {
        max-width: 820px;
    }
    .creation .container {
        max-width: 850px;
    }
    footer .container {
        max-width: 820px;
    }
}

@media screen and (max-width: 820px) {
    .header .container {
        max-width: 710px;
    }
    .creation .container .desktop {
        grid-template-columns: 1fr 1fr;
    }
    .creation .container {
        max-width: 690px;
    }
    footer .container {
        max-width: 710px;
    }
}

@media (min-width:700px) {
    .hamberger {
        display: none;
    }
    .main .container .content .mobile {
        display: none;
    }
    .creation .container .mobile {
        display: none;
    }
    .creation .container .left_mobile {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .header .container {
        max-width: 500px;
    }
    .header {
        background: url(./images/mobile/image-hero.jpg)no-repeat;
        background-size: 100%;
    }
    .header .container .navigation .navbar {
        display: none;
    }
    .header .container .main {
        height: 260px;
        width: 600px;
    }
    .header .container .main {
        margin-top: 380px;
    }
    .header .container .main h1 {
        font-size: 4.2rem;
    }
    .main .container .content .desktop {
        display: none;
    }
    .main .container .content .mobile {
        padding: 24px;
    }
    .main .container .content .mobile img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .main .container .left {
        text-align: center;
        width: 400px;
    }
    .main .container .left .text h2 {
        font-size: 2.2rem;
    }
    .main .container .left .text {
        margin: 60px 0 0 0px;
    }
    .creation .container .desktop {
        display: none;
    }
    footer .container {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    footer .container .copyright .icon ul {
        margin-left: 50px;
    }
}

@media screen and (max-width:500px) {
    .header .container {
        max-width: 310px;
    }
    .header .container .main h1 {
        font-size: 2.7rem;
        padding: 14px;
    }
    .header .container .main {
        height: 200px;
        width: 306px;
        margin-top: 146px;
    }
    .header .container .navigation .logo img {
        height: 26px;
    }
    .main .container .left .text {
        margin: 30px 0 0 0px;
    }
    .main .container .left {
        width: 300px;
    }
    .main .container .content {
        height: 620px;
    }
    .creation .container .creation_header .left {
        display: none;
    }
    .creation .container .desktop {
        display: none;
    }
    .creation .container {
        max-width: 320px;
        text-align: center;
    }
    footer .container .last .navbar ul {
        margin-bottom: 0px;
        flex-direction: column;
    }
    footer .container .last .navbar ul li {
        margin-right: 0px;
        margin-bottom: 14px;
    }
    footer .container .copyright {
        margin-bottom: 40px;
    }
}